/* .sticky{
    display:none;
} */
.profile{
    background-color: azure;
}
.history{
    background-color:white;
    text-align: center;
    /* margin-top:80px; */
    overflow: auto;
}

@media (min-width: 600px) {
    .pf{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
    
