

.details{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin-top: 30px;
    margin-bottom: 30px;
}



.image{
    /* width: 40%; */
    /* width: 300px; */
    text-align: center;
}
.event-image{
    width:25vw;
    height:50vh;
    align-items: center;
}
