@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.scrollbar {
  height: 100vh;
  overflow-y: scroll;
  overflow: auto;
  background-color: #000000;
}
#scrollbar5::-webkit-scrollbar {
  background-color: #000;
  width: 8px;
  border-radius: 10px;
}

#scrollbar5::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

#scrollbar5::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.5, #a520ca),
    color-stop(1, #2681cc)
  );
  border-radius: 10px;
}
/*       ScrollBar 6        */

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  height: 100%;
  max-width: 100%;
}
.hero {
  background: hsla(172, 100%, 16%, 1);

  background: radial-gradient(
    circle,
    hsla(172, 100%, 16%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(172, 100%, 16%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(172, 100%, 16%, 1) 0%,
    hsla(0, 0%, 0%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#005348", endColorstr="#000000", GradientType=1 );
  width: 100%;
}
#btn1 {
  color: white;
}
#btn1:hover {
  color: black;
}
#btn2 {
  color: black;
}
#btn2:hover {
  color: white;
}
#lin {
  color: white;
}
#lin:hover {
  color: #0dff00;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.custom {
  background: #000;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .title-text {
    font-size: 1em;
  }
  .intro {
    flex-direction: column-reverse;
  }
  .svg-sec {
    width: 300px;
    z-index: 10;
    position: relative;
    margin-top: 0.1em;
  }
  .hum {
    z-index: 100000000000;
  }
  .mob-nav {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    right: 0;
    padding: 40px;
    backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, 0.9);

    z-index: 100;
  }
  .img-h {
    height: 100%;
    width: 100%;
  }
  .logo {
    width: 85%;
    object-fit: contain;
  }
  .btns {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 767px) {
  .img-h {
    width: 430px;
    margin-left: 50px;
  }
  .title-text {
    font-size: 2em;
  }
  .hero-p {
    font-size: 1.2em;
  }
  .intro {
    padding: 120px;
  }
  .hero-head {
    font-size: 18px;
  }
  .about-h {
    display: flex;
    flex-direction: column;
  }
}
.hlink:hover {
  color: #0dff00;
}
@media (min-width: 1340px) {
  #title {
    font-size: 3.2em;
  }
  .logo {
    width: 80%;
  }
  #about-h {
    display: flex;
    padding: 200px;
    margin-top: -100px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  #clg {
    height: 400px;
    width: 4800px;
    margin-left: -100px;
  }
  .about-p {
    margin-left: 30px;
  }
}
@media (min-width: 376px) {
  .title-text {
    font-size: 2.5em;
  }
  .about-h {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
  .about {
    padding: 20px;
  }
  .about-p {
    text-align: justify;
    margin-top: 30px;
  }
  .clg {
    height: 150px;
  }
}

@media (max-width: 375px) {
  .img-h {
    width: 450px;
  }
  .title-text {
    font-size: 2.2em;
  }
  .hero-head {
    text-align: center;
  }
  .intro {
    padding: 80px;
  }
  .about-h {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
  .about {
    padding: 20px;
  }
  .about-p {
    text-align: start;
    margin-top: 30px;
  }
  .clg {
    height: 150px;
  }
  #hero-p {
    font-size: 1em;
  }
}
@media (min-width: 1301px) {
  #hero-p {
    font-size: 1.2em;
  }
}
@media (min-width: 706px) {
  .clg {
    height: 300px;
  }
}

@media (min-width: 575px) {
  .intro {
    padding: 90px;
  }
  .hero {
    height: 100vh;
  }
}

@media (min-width: 1169px) {
  .hero {
    height: 100vh;
  }
}
#hero-p {
  text-align: justify;
}

.blurred-wrapper::after {
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(2rem);
  transform: scale(1.15);
}

.blurred-wrapper {
  height: 100vh;
  background: url("../public/assets/bg.jpeg") center/cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  animation: hue 10s infinite alternate;
}

@keyframes hue {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.hero-head {
  font-size: 1.5em;
}
.hero-p {
  font-size: 1em;
}

html {
  scroll-behavior: smooth;
}

.about {
  background-image: url("../public/assets/mesh-241.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none !important;
}